body{
    font-family: Arial, sans-serif;
    text-align: center;
    width: 300px;
    padding: 10px;
}

button{
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

p{
    margin-top: 10px;
    font-size: 14px;
}